.root {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 400px;
}

.nextBlinds {
  background-color: #34495e;
  border-radius: 15px;
  padding: 20px 30px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nextBlinds h3 {
  color: #bdc3c7;
  font-size: 1.2rem;
  flex-grow: 1;
  font-weight: normal;
}

.nextBlindsValues {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.nextBlindsTime {
  color: #95a5a6;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .nextBlinds {
    padding: 15px 20px;
    border-radius: 10px;
  }
  
  .nextBlinds h3 {
    font-size: 1.1rem;
  }
  
  .nextBlindsValues {
    font-size: 1.8rem;
  }
  
  .nextBlindsTime {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .nextBlinds {
    padding: 10px 12px;
    max-width: 90vw;
  }
  
  .nextBlindsInfo {
    flex-direction: column;
    gap: 3px;
    align-items: flex-start;
  }
  
  .nextBlinds h3 {
    font-size: 0.9rem;
  }
  
  .nextBlindsValues {
    font-size: 1.5rem;
  }
  
  .nextBlindsTime {
    font-size: 0.9rem;
  }
}